/*Les couleurs de la charte sont le
 bleu #0065FC, et sa version plus claire
  #DEEBFF ainsi que 
  le gris pour le fond #F2F2F2.*/

/*la barre de recherche*/
form
{
	display: flex;
	margin-bottom: 30px;
}

.marker
{
  background: #F2F2F2;
  border: 2.7px #F2F2F2 solid;
  border-radius: 15px 0px 0px 15px;
  height: 41px;
  padding: auto;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
   color: black;
}


#search
{
	height: 38px;
	border: 3px #F2F2F2 solid;
	margin-left:-2px;
	padding-left:10px; 

}

#search, #filtre,.hotel_n
{
	font-weight: bold;
}
 
#rechercher
{
	border-radius: 0px 15px 15px 0px;
	color: white;
	background: #0065FC;
	border: 2px #0065FC solid;
	height: 46px;
	padding-right: 15px;
}

/*filtre css*/

#filtre
{	width: 150%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#filtre i
{   background: #DEEBFF;
	color: #0065fc;
	padding: 12px;
	border-radius: 24px;
}
.titles
{	
	border: 3px solid #F2F2F2;
	border-radius: 24px;
	min-width: 10%;
	height: 20%;
	display: flex;
	align-items: center;
	padding-right: 3%;
	font-size: 1em;
}
.titles:hover
{
	color:#5f3dc4;
	background:radial-gradient(#c5f6fa, #66d9e8 ,#3bc9db);
}

.item1
{
	margin-right: 3%;
}
.item2
{
	text-indent: 1em;
}




/*css section*/

#hebergement
{
	background:#F2F2F2;
	width: 60%;
	height: 65%;
	border-radius: 15px;

}
#hebergement h1 
{
	font-size: 1.3em;
	padding-top: 15px;
	padding-left: 20px;
}
section :nth-child(2)
{
	padding-left: 10px;
}

 #afficher
{
	font-size: 1.3em;
	padding-bottom: 15px;
	padding-left: 20px;
	font-weight: bold;
}

#contenu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	align-items: space-between;
}
section img
{
	width: 100%;
	border-radius: 15px 15px 0 0;	
	height: 150px;
}

section
{	
	border: 3px solid white;
	background: white;
	width: 25%;
	border-radius: 15px;
	margin-bottom: 20px;

	
}
.one
{
	margin-top: 0px;
}
section i
{
	color: #0065FC;
}
#quantity i
{
	color: white;
	border: 1px solid #F2F2F2;
	background:radial-gradient(#0065FC, #F2F2F2 ,#F2F2F2);
	border-radius: 50%;
	padding: 0px;
}

a
{
	text-decoration: none;
}
/*css aside*/
#lateral
{
	background:#F2F2F2;
	width: 30%;
	margin-right: 5%;
	border-radius: 15px;
	border:1px #F2F2F2 solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
aside
{	
	border: 3px solid white;
	background: white;
	width: 85%;
	height: 142px;
	border-radius: 15px;
	margin-bottom: 20px;
	/*margin-top: 10px;*/

}
aside img
{
	width:100%;
	border-radius: 15px 0 0 15px;	
	height: 140px;
	margin-right: 0px;
	padding-left: 2px;

	
}

.two
{
	margin-top: 0px;
	width: 45%;
}
.lateral_one
{
	
	width: 60%;
	height: 120px;
	padding-left: 15px;
	margin-left: 0px;
}

._items
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
aside a
{
	display: flex;
	justify-content: flex-start;
}
#lateral h1
{
	font-size: 1.3em;
	padding-top: 15px;
	padding-left: 0px;
}
aside i
{
	color: #0065FC;
}


/*below css*/

.below
{
	border: 2px white solid;
	margin-top: 1%;
	width: 95%;
	height: 500px;
	display: flex;
	justify-content: space-between;

}
.last_a img
{
	width: 100%;
	height: 400px;
	margin-top: 0px;
	position: absolute;
	border-radius: 15px 15px 0 0;
	top: 0px;
} 
.last_a
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 22%;
	height: 470px;
	position: relative;
	box-shadow:5px 5px 5px #F2F2F2;

}

.last_ca img
{
	width: 100%;
	height: 210px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cb img
{
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_ca
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 270px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cb
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 170px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}

.last_c
{	
	width: 22%;
	height: 470px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.last_cc img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cd img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_cc
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cd
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}
.below .hotel_n
{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#title_a
{
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 1.3em;
}



/*header*/
#all_page
{
	width: 90%;
	padding-top: 100px;
	margin: auto;
	position: relative;
}

#logo img
{
	width: 100px;
	height: 40px;
}
header h1
{
	font-size: 1.3em;
}

/* filtre*/

nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right:60px;
}
nav a
{
	text-decoration: none;
	color: black;
}

nav a:hover
{
	border: 3px blue solid;
	padding: 20px;
	color: blue;
	border-style: solid none none none;
}
#inscription
{
	color: blue;
}

header
{	
	font-family: Raleway-medium, sans-serif;
	display: flex;
	justify-content: space-between;
}
nav
{
	display: flex;
	flex-direction: row;
	height: 30%;
}
/*footer*/
footer
{
	border: 1px solid #F2F2F2;
	height: 220px;
	background: #F2F2F2;
	display: flex;
	width: 90%;
}
footer div
{
	width: 30%;
	margin-left: 2%;
	margin-top: 2%;
}
footer h1
{
	font-size: 1.3em;
}






body
{
	font-family: Raleway-medium, sans-serif;

}
@font-face
{
    font-family: 'raleway-medium';
    src: url('raleway-1/raleway-medium.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}