

/* css body-----------------------------------------*/

body
{
	font-family: Raleway-medium, sans-serif;
	margin: 0px;

}
@font-face
{
    font-family: 'raleway-medium';
    src: url('raleway-1/raleway-medium.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
a
{
	text-decoration: none;
	color: black;
}
img
{
	object-fit: cover;
}

/* css  id all_page-------------------------------*/
#all_page
{
	padding-top: 25px;
	padding-left: 2%;
	padding-right: 2%;
	margin: auto;
	position: relative;
}


/* css Header-----------------------------------*/
header
{	
	font-family: Raleway-medium, sans-serif;	
}
header h1
{
	font-size: 1.3em;
}


/* css nav -----------------------------------*/

nav ul
{	display: flex;
 	flex-direction: row;
 	margin-bottom: 3em;
 	justify-content: flex-end;
	list-style-type: none;
	padding-left: 0px;
}

#logo img
{
	width: 120px;
	height: 50px;
}
#logo
{
	width: 75%;
}

ul  :nth-child(2),
ul  :nth-child(3),
ul  :nth-child(4)
{
	margin-left:60px;  
}
nav a
{
	text-decoration: none;
	color: black;
}

nav a:hover
{ border-top: 3px  #0065FC solid;
	padding: 20px;
}
#inscription
{
	color: #0065FC;
}
/*css form-------------------------------------*/
form
{
	display: flex;
	margin-bottom: 50px;
	margin-top: 20px;
}
.fa-map-marker-alt
{
	font-size: 1.4em;
}
.marker
{
  background: #F2F2F2;
  border: 2.7px #F2F2F2 solid;
  border-radius: 15px 0px 0px 15px;
  height: 41px;
  padding: auto;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
   color: black;
}


#search
{
	height: 38px;
	border: 3px #F2F2F2 solid;
	margin-left:-2px;
	padding-left:10px; 
	padding-right: 60px;

}

#search, #filtre,.hotel_n
{
	font-weight: bold;
}
 
#rechercher
{
	border-radius: 0px 15px 15px 0px;
	color: white;
	background: #0065FC;
	border: 2px #0065FC solid;
	height: 46px;
	padding-right: 15px;
}
#rechercher :nth-child(1)
{
font-size: 0px;
}
.fa-search
{
	margin-right: 12px;
}

/*css filtre------------------------------------*/
#filtre
{	
	width:70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#filtre i
{   background: #DEEBFF;
	color: #0065fc;
	padding: 12px;
	border-radius: 24px;	
	box-shadow:0 0 0 3px #DEEBFF;
}
.titles
{	
	border: 3px solid #F2F2F2;
	border-radius: 24px;
	min-width: 10%;
	height: 20%;
	display: flex;
	align-items: center;
	padding-right: 3%;
}
.titles:hover
{
	color:#5f3dc4;
	background:radial-gradient(#c5f6fa, #66d9e8 ,#3bc9db);
}

.item1
{
	margin-right: 9%;
}
.item2
{
	text-indent: 1em;
}

/*css section-------------------------------------*/

section i
{
	color: #0065FC;
}
#quantity i
{
	color: white;
	border: 1px solid #F2F2F2;
	background:radial-gradient(#0065FC, #F2F2F2 ,#1b1414);
	border-radius: 50%;
	padding: 0px;
}
#quantity
{
	margin-top: 50px;
	margin-bottom: 50px;	
}
#contenu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	
}
#hebergement
{
	background:#F2F2F2;
	width: 65%;
	height: 65%;
	border-radius: 15px;
}
#hebergement h1 
{
	font-size: 1.3em;
	padding-top: 25px;
	padding-left: 25px;
	padding-bottom: 15px;
}
section :nth-child(2)
{
	padding-left: 10px;
}
.normal
{
	font-weight: normal;
}
 #afficher
{
	font-size: 1.3em;
	padding-bottom: 15px;
	padding-left: 40px;
	font-weight: bold;
}

section img
{
	width: 100%;
	border-radius: 15px 15px 0 0;	
	height: 140px;
}

section
{	
	border: 3px solid white;
	background: white;
	width: 28%;
	border-radius: 15px;
	margin-bottom: 20px;
	
}
.one
{
	margin-top: 0px;
}

/* couleur grise des étoiles*/

#contenu :nth-child(3) :nth-child(8),
#contenu :nth-child(4) :nth-child(7),
#contenu :nth-child(4) :nth-child(8),
#contenu :nth-child(5) :nth-child(8),
#star :nth-child(8),
#lateral  :nth-child(3) :nth-child(8),
#lateral  :nth-child(4) :nth-child(8)
{
	color: #F2F2F2;
}

/*css aside---------------------------------------*/
#lateral
{
	background:#F2F2F2;
	width: 32%;
	border-radius: 15px;
	border:1px #F2F2F2 solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.fa-chart-line
{
	margin-left: 10em;
}
aside
{	
	border: 3px solid white;
	background: white;
	width: 85%;
	height: 142px;
	border-radius: 15px;
	margin-bottom: 20px;
}
aside img
{
	width:100%;
	border-radius: 15px 0 0 15px;	
	height: 140px;
	margin-right: 0px;
	padding-left: 2px;	
}

.two
{
	margin-top: 0px;
	width: 45%;
}
.lateral_one
{
	width: 60%;
	height: 120px;
	padding-left: 15px;
	margin-left: 0px;
}
.lateral_one i
{
	margin-top: 40px;
}

._items
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
aside a
{
	display: flex;
	justify-content: flex-start;
}
#lateral h1
{
	font-size: 1.3em;
	padding-top: 25px;
	padding-left: 0px;
	margin-bottom: 0px;
}
aside i
{
	color: #0065FC;
}

/*css below-----------------------------------------*/

.below
{
	border: 2px white solid;
	margin-top: 1%;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;

}
.last_a img
{
	width: 100%;
	height: 400px;
	margin-top: 0px;
	position: absolute;
	border-radius: 15px 15px 0 0;
	top: 0px;
} 
.last_a
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 22%;
	height: 470px;
	position: relative;
	box-shadow:5px 5px 5px #F2F2F2;

}

.last_ca img
{
	width: 100%;
	height: 210px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cb img
{
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_ca
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 270px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cb
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 170px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}

.last_c
{	
	width: 22%;
	height: 470px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.last_cc img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cd img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_cc
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cd
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}
.below .hotel_n
{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#ancre2
{
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 1.3em;
}

/*css footer---------------------------------------*/
footer
{
	border: 1px solid #F2F2F2;
	height: 220px;
	background: #F2F2F2;
	display: flex;
	width: 100%;	
	margin-top: 40px;
}
footer div
{
	width: 30%;
	margin-left: 2%;
	margin-top: 2%;
}
footer h1
{
	font-size: 1.3em;
	}
footer p,footer h1, #afficher,.titles,
#search, #rechercher
{
	cursor: pointer;
}



/*media query point break 1500px------------------------*/
@media screen and (max-width:1400px )
{
	.fa-chart-line
	{
		margin-left: 80px;
	}

}
/*media query point break 1200px------------------------*/

@media screen and (max-width:1200px )
{
	#filtre
	{	
		width:90%;
	}
}
/*media query point break 1144px-----------------------*/

@media screen and (max-width:1144px )
{	
	.lateral_one i
	{
		margin-top: 20px;
	}
}

/*media query tablette--------------------------------*/
@media screen and (max-width:1024px )
{
	ul  :nth-child(2)/*hébergement*/
	{
		margin-left:0px; 
		margin-right: 8em; 
		order: 3; 
		font-size: 1.3em;
	}
	ul  :nth-child(3)/*activités*/
	{
		margin-left:100px;
		margin-right: 6em;  
		order: 3;
		font-size: 1.3em;
			}
	ul  :nth-child(4)/*s'inscrire*/
	{
		margin-left:60%;
		font-weight: bold;
		font-size: 1.3em; 
		margin-bottom: 2em; 
	}
		
	#logo
	{
		width: 20%;
		margin-top: -20px;
		margin-bottom: 25px;
	}
	nav
	{
		border-bottom: 5px #F2F2F2 solid;
		height: 111px;
		margin-bottom: 3em;
	}
	nav ul
	{
		flex-direction: row;
		flex-wrap: wrap;
	}
	nav li
	{
		width: 20%;	
	}
		nav   :nth-child(1) a:hover
	{
		border-top: none;
	}
	nav   :nth-child(2) a:hover 
	{
		border-bottom:  5px #0065FC solid;
		border-top: none;	
	}
	nav   :nth-child(3) a:hover
	{
		border-bottom:  5px #0065FC solid;
		border-top: none;
		color:#0065FC;
	}
	/*
	#line
	{
		display: flex;
		flex-direction: row;
		margin-top: -6px;
	}
	#line1
	{
		border-bottom: 5px #0065FC solid;		
		width:50%;
		display: none;
	}
	#line2
	{
		border-bottom: 5px red solid;		
		width:50%;
		display: none;

	}*/
	form
	{
		margin-top: 3em;
		margin-bottom:1em; 
	}
	#rechercher
	{
		width: 8%;
		height: 60px;
		margin-left: -10px;
		border-radius: 15px 15px 15px 15px;
		/*border-radius: 15px 0px 0px 15px;*/
	}
	.fa-search
	{
		padding-top: 14px;
		margin-bottom: 30px;
		padding-left: 12px;
		font-size: 2em;
		margin-right: 12px;
	}
	#search
	{
		height: 52px;
		 
		width:30%;
	}
	::-webkit-input-placeholder
	 {
   		font-size: 1.5em;
     }
	#rechercher :nth-child(1)
	{
		font-size: 2em;
	}
	
	.marker
	{
		height: 55px;
	}
	/*css filtres----------------*/
	#filtre
	{
		flex-direction: row;
		flex-wrap: wrap;
		width: 75%;
	}
	.word
	{
		width: 100%;
		font-size: 1.3em;
	}
	 .uno
	{
		
		width: 25%;
	}
	.dos
	{
		width: 20%;
	}
	.tres
	{
		margin-right: 1.8em;
		width: 25%;
	}
	.cuatro
	{
		width: 35%;
	}
	#filtre :nth-child(1)
	{
		
	}
	.titles
	{
		margin-bottom: 1em;	

		
	}
	#filtre i
    {   	
		font-size: 1.5em;
	}
	/* css aside----------------*/

	#lateral
	{
		width: 100%;
		order: -1;
		margin-bottom: 50px;
		padding-bottom: 30px;		
	}
	.lateral_one i
	{
		margin-top: 3.5em;
	}
	aside
	{
		box-shadow: 3px 3px 3px 3px lightgrey;
	}
	#lateral h1
	{
		margin-bottom: 20px;
	}
	.fa-chart-line
	{
		margin-left: 30em;
	}
	.hotel_n  br
	{
		display: none;
	}
	/*css hébergement-------------*/
	#hebergement
	{
		width: 100%;
		padding-right: 5%;
		padding-left: 5%;
		background: white;
	}
	#contenu
	{ 
		width: 100%;
	}

	
	section
	{
		width: 30%;
		height: 240px;
		line-height: 1.8;
		box-shadow:5px 5px 5px 5px #F2F2F2;
	}
	section img
	{
		height: 140px;
		margin-bottom: -20px;
	}

	/*css below--------------*/
	#ancre2
	{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.4em;
		padding-left: 3em;
	}
	
	.below
	{
		width: 92%;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 7%;
		justify-content: unset;
		
	}

	.below img
	{
		height: 190px;
	}
	.last_a
	{
		height: 250px;
		width: 30%;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	.last_ca, 
	.last_cb, .last_cc,.last_cd
	{
		height: 250px;
		width: 50%;
		margin-right: 10px;

	}

	.last_c
	{ 		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 65%;
		height: 250px;
		

	}
	/*
	.last_a, .last_c
	{
		width: 45%;
		margin-bottom: 20px;
	}*/
	footer
	{		
		margin-top: 6em;
		display: block;
		height: auto;
	}
	footer div
	{
		margin-right: 30px;
	}
	footer div
	{
		width: 100%;
		padding-left: 25px;
		padding-bottom: 20px;
	}
}


/*media query phone------------------------------------*/
@media screen and (max-width: 768px)
{
	ul  :nth-child(2)/*hebergement*/
	{
		margin-left:0px; 
		margin-right: 30px; 
		order: 3; 
		font-size: 1.3em;
	}
	ul  :nth-child(3)/*acyivites*/
	{
		margin-left:100px;
		margin-right: 10px;  
		order: 3;
		font-size: 1.3em;
	}
	ul  :nth-child(4)/*s'inscrire*/
	{
		margin-left:60%;
		font-weight: bold;
		font-size: 1.3em;  
	}
	
	#logo
	{
		width: 20%;
		margin-top: -20px;
		margin-bottom: 25px;
	}
	nav
	{
		border-bottom: 5px #F2F2F2 solid;
		height: 109px;
	}
	nav ul
	{
		flex-direction: row;
		flex-wrap: wrap;
		width: 80%;

	}
	nav li
	{
		width: 20%;	
	}
	/*nav a
	{
		border: 3px grey solid;
		padding: 20px;
		color: grey;
		border-style:none none solid none;
	}*/
	nav   :nth-child(1) a:hover
	{
		border-top: none;
	}
	nav   :nth-child(2) a:hover
	{
		border-bottom:  5px #0065FC solid;
		border-top: none;
	}
	
	nav   :nth-child(3) a:hover
	{
		border-bottom:  5px #0065FC solid;
		border-top: none;
	}
	
	
	header h1
	{
		font-size: 1.6em;
		word-spacing: -2px;
	}
	form
	{
		margin-top: 3em;
		margin-bottom:1em; 
	}
	#rechercher :nth-child(1)
	{
		font-size: 1.6em;
	}
	#rechercher
	{
		width: 18%;
		height: 60px;
		margin-left: -10px;
		border-radius: 15px 15px 15px 15px;
		/*border-radius: 15px 0px 0px 15px;*/
	}
	.fa-search
	{
		padding-top: 18px;
		margin-bottom: 30px;
		padding-left: 12px;
		font-size: 2em;
	}
	.marker
	{
		height: 55px;
	}
	#search
	{
		height: 52px;
		 
		width:50%;
	}
	::-webkit-input-placeholder
	 {
   		font-size: 1.5em;
     }
	#rechercher :nth-child(1)
	{
		

		/*
		color: white;
		background: #0065FC;
		border: 2px #0065FC solid;
		height: 46px;
		padding-right: 15px;*/
	}
	  /*  #rechercher {
      text-indent: -9999px;
      line-height: 0;
    }
	    #rechercher::after {
      content: "Bonjour Monde!";
      text-indent: 0;
      display: block;
      line-height: initial;
    }
*/

/*--------------------------------------*/
	#filtre
	{
		flex-direction: row;
		flex-wrap: wrap;
		width: 80%;
	}
	.word
	{
		width: 100%;
		font-size: 1.3em;
	}
	 .uno
	{
		
		width: 45%;
	}
	.dos
	{
		width: 32%;
	}
	.tres
	{
		width: 40%;
		margin-right: 4em;
	}
	.cuatro
	{
		width: 55%;
	}
	#filtre :nth-child(1)
	{
		
	}
	.titles
	{
		margin-bottom: 1em;	
		
	}
	#filtre i
    {   	
		font-size: 1.5em;
	}
	#quantity
	{
		margin-top: 1em;
	}
	/*css lateral--------------*/
	#lateral h1
	{
		margin-bottom: 30px;
	}
	#lateral
	{
		border-radius: 0px;
	}
	.fa-chart-line
	{
		margin-left:10em;
	}
	.lateral_one i
	{
		margin-top: 2em;
	}

	/*css section--------------*/
	#hebergement
	{
		background:white;
	}
	section
	{/*#F2F2F2*/
		width: 100%;
		border: 6px solid white;
		height: 200px;
		box-shadow:5px 5px 5px 5px #F2F2F2;
	}
	section img
	{
		width: 100%;
		height: 110px;
		margin-bottom: -25px;
	}
	#afficher
	{
		padding-left: 0px;
	}
	/* css below------------------*/
	#ancre2
	{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.4em;
		padding-left: 20px;
	}
	.below
	{
		width: 92%;
		padding-left: 10px;
	}
	.below img
	{
		height: 140px;
	}
	.last_a, .last_ca, 
	.last_cb, .last_cc,.last_cd
	{
		height: 200px;
		width: 100%;
	}

	.last_a , .last_c
	{ 
		width: 100%;
	}
	.last_c
	{
		flex-wrap: wrap;
		height: unset;
	}
	#all_page
	{
		margin-bottom: 50px;
	}
	
	footer
	{		
		margin-top: 55em;
		
	}

	footer div
	{
		width: 100%;
		padding-left: 25px;
		padding-bottom: 20px;
	}
}

/*  search-------  <i class="fas fa-search"></i>   */