/*css body-----------------------------------------*/
body
{
	font-family: Raleway-medium, sans-serif;
	margin: 0px;
}
@font-face
{
    font-family: 'raleway-medium';
    src: url('raleway-1/raleway-medium.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}
a
{
	text-decoration: none;
	color: black;
}
img
{
	object-fit: cover;
}

/* css  id all_page-------------------------------*/
#all_page
{
	padding-top: 25px;
	/*padding-left: 2%;
	padding-right: 2%;*/
	margin-right: 2%;
	margin-left: 2%;
	position: relative;
}

/* css Header-------------------------------------*/
header
{	
	font-family: Raleway-medium, sans-serif;	
}
header h1
{
	font-size: 1.6em;
}


/* css nav -----------------------------------*/
nav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 40px;
}
#logo img
{
	width: 6em;
	height: 2em;
}
#logo
{
	width: 68%;
}
.first a:hover,
.second a:hover
{ border-top: 3px  #0065FC solid;
	padding:25px 10px 0px 10px;
}

.third a
{
	color: #0065FC;
	font-weight: bold;
}
 #line1, #line2
{
	border: 2px  solid #F2F2F3 ;
	background: #F2F2F2;
	width: 100%;
	display: none;	
}

/*css form-------------------------------------*/
form
{
	display: flex;
	margin-bottom: 3em;
	margin-top: 1em;
}
.fa-map-marker-alt
{
	font-size: 1.4em;
}
.marker
{
  background: #F2F2F2;
  border-radius: 20px 0px 0px 20px;
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder
 {
	font-size: 1.2em;
 }

#search
{
	height: 52px;
	border: 3px #F2F2F2 solid;
	margin-left:-2px;
	padding-left:10px; 
	padding-right: 6em;
}

#search, #filtre,.hotel_n
{
	font-weight: bold;
}
 
#rechercher, #find
{
	border-radius: 0px 20px 20px 0px;
	color: white;
	background: #0065FC;
	border: 2px #0066FC solid;
	height: 60px;
	width: 8em;
	font-size: 1.2em;
}
#find
{
	display: none;
}

/*css filtre------------------------------------*/
#filtre
{	
	display: flex;
	flex-direction: row;
}

#filtre i
{   background: #DEEBFF;
	color: #0065fc;
	padding: 12px;
	border-radius: 24px;	
	box-shadow:0 0 0 3px #DEEBFF;
}
.titles
{	
	border: 3px solid #F2F2F2;
	border-radius: 24px;
	display: flex;
	align-items: center;
	padding-right: 3%;
	width: auto;
	margin-left: 25px;
}
.titles:hover
{
	color:#5f3dc4;
	background:radial-gradient(#c5f6fa, #66d9e8 ,#3bc9db);
}
.titles span
{
	margin-left: 15px;
}


/*css section-------------------------------------*/

section i
{
	color: #0065FC;
}
#quantity i
{
	color: white;
	border: 1px solid #F2F2F2;
	background:radial-gradient(#0065FC, #F2F2F2 ,#1b1414);
	border-radius: 50%;
	font-size: 1.7em;
	margin-right: 8px;
}
#quantity
{
	margin-top: 50px;
	margin-bottom: 50px;	
}
#contenu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	
}
#hebergement
{
	background:#F2F2F2;
	width: 65%;
	height: 65%;
	border-radius: 15px;
}
#hebergement h1 
{
	font-size: 1.1em;
	padding-left: 25px;
	padding-bottom: 15px;
}
section :nth-child(2)/* all text Hébergement*/
{
	padding-left: 10px;
}
.price
{
	font-weight: normal;
	margin-left: -10px;
}
 #afficher
{
	font-size: 1.3em;
	padding-bottom: 15px;
	padding-left: 40px;
	font-weight: bold;
}

section img
{
	width: 100%;
	border-radius: 15px 15px 0 0;	
	height: 140px;
}

section
{	
	border: 3px solid white;
	background: rgb(255 255 255);
	width: 28%;
	border-radius: 15px;
	margin-bottom: 20px;
	
}
.one
{
	margin-top: 0px;
}

/* la couleur grise des étoiles*/

#contenu :nth-child(3) :nth-child(8),
#contenu :nth-child(4) :nth-child(7),
#contenu :nth-child(4) :nth-child(8),
#contenu :nth-child(5) :nth-child(8),
#star :nth-child(8),
#lateral  :nth-child(3) :nth-child(8),
#lateral  :nth-child(4) :nth-child(8)
{
	color: #F2F2F2;
}

/*css aside---------------------------------------*/
#lateral
{
	background:#F2F2F2;
	width: 32%;
	border-radius: 15px;
	border:1px #F2F2F3 solid;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#lateral h1
{
	font-size: 1.1em;	
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin:10% 6% -3% 6%;
}
#chart
{
	width: 90%;
}
aside
{	
	border: 3px solid rgb(255 255 255);
	background: white;
	width: 85%;
	height: 142px;
	border-radius: 15px;
	margin-bottom: 20px;
}
aside img
{
	width:100%;
	border-radius: 15px 0 0 15px;	
	height: 140px;
	margin-right: 0px;
	padding-left: 2px;	
}

.two
{
	margin-top: 0px;
	width: 45%;
}
.lateral_one
{
	width: 60%;
	height: 120px;
	padding-left: 15px;
	margin-left: 0px;
}
.lateral_one i
{
	margin-top: 40px;
}

._items
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
aside a
{
	display: flex;
	justify-content: flex-start;
}
aside i
{
	color: #0065FC;
}

/*css below-----------------------------------------*/

.below
{
	border: 2px white solid;
	margin-top: 1%;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;

}
.last_a img
{
	width: 100%;
	height: 400px;
	margin-top: 0px;
	position: absolute;
	border-radius: 15px 15px 0 0;
	top: 0px;
} 
.last_a
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 22%;
	height: 470px;
	position: relative;
	box-shadow:5px 5px 5px #F2F2F2;

}

.last_ca img
{
	width: 100%;
	height: 210px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cb img
{
	width: 100%;
	height: 120px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_ca
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 270px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cb
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 170px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}

.last_c
{	
	width: 22%;
	height: 470px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.last_cc img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
	
}
.last_cd img
{
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
	position: absolute;
	top: 0px;
}
.last_cc
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;
	margin-bottom: 25px;

}
.last_cd
{
	border: 3px #F2F2F2 solid;
	border-radius: 15px;
	width: 100%;
	height: 220px;
	box-shadow:5px 5px 5px #F2F2F2;
	position: relative;

}
.below .hotel_n
{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#ancre2
{
	margin-top: 50px;
	margin-bottom: 0px;
	font-size: 1.3em;
}

/*css footer---------------------------------------*/
footer
{
	border: 1px solid #F2F2F3;
	height: 220px;
	background: #F2F2F2;
	display: flex;
	width: 100%;	
	margin-top: 40px;
}
footer div
{
	width: 30%;
	margin-left: 2%;
	margin-top: 2%;
}
footer h1
{
	font-size: 1.3em;
	}
footer p,footer h1, #afficher,.titles,
#search, #rechercher
{
	cursor: pointer;
}

/*media query point break 1144px-----------------------*/

@media screen and (max-width:1144px )
{	
	.lateral_one i
	{
		margin-top: 20px;
	}
}

/*media query tablette 1024px---------------------------*/
@media screen and (max-width:1024px )
{
	nav
	{		
		flex-wrap: wrap;
		margin-right: 2%;
		margin-left: 2%;
	}
	#logo
	{
		margin-top: -20px;
		margin-bottom: 40px;
		
	}	
	nav div,#logo
	{
		width: 50%;		
	}
	.first,.second
	{
		text-align:center;
		order: 3;		
	}
	.third
	{
		text-align:end;

	}
	#line1, #line2
	{
		display: block;
		margin-top: 16px;
	}
	.first a:hover ,
	.second a:hover 
	{
	    border-top: none;
	    color: #0065FC;

	}
	.first a:hover   #line1,
	.second a:hover  #line2
	{
	   border-top: 3px #0066FC solid;
	   background: #0065FC;	   		
	}
	

	/*css form----------*/
	form
	{
		margin-top: 3em;
		margin-bottom:1em; 
	}
	#rechercher
	{
		display: none;
	}
 
 	#find
	{	
		display: block;
		border-radius: 20px 20px 20px 20px;
		margin-left: -20px;
		width: 60px;
	}

	/*css filtres----------------*/
	#filtre
	{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.word
	{
		width: 100%;
		font-size: 1.3em;
	}
	
	.tres
	{
		margin-right: 1.8em;
		
	}
	
	.titles
	{
		margin-bottom: 1em;	
		margin-right: 19px;
		margin-left: unset;		
	}
	#filtre i
    {   	
		font-size: 1.5em;
	}
	/* css aside----------------*/

	#lateral
	{
		width: 105%;
		order: -1;
		margin-bottom: 50px;
		padding-bottom: 30px;
		border-radius: 0px;
		margin-right: -3%;	
		margin-left: -2%;
	}
	.lateral_one i
	{
		margin-top: 3.5em;
	}
	aside
	{
		box-shadow: 3px 3px 3px 3px lightgrey;
	}
	#lateral h1
	{
		margin-bottom: 20px;
		margin-top: 40px;
	}
	
	.hotel_n  br
	{
		display: none;
	}
	/*css hébergement-------------*/
	#hebergement
	{
		width: 100%;
		padding-right: 5%;
		padding-left: 5%;
		background: white;
	}
	#contenu
	{ 
		width: 100%;
	}	
	section
	{
		width: 30%;
		height: 240px;
		line-height: 1.8;
		box-shadow:5px 5px 5px 5px #F2F2F2;
	}
	section img
	{
		height: 140px;
		margin-bottom: -20px;
	}

	/*css below--------------*/
	#ancre2
	{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.4em;
		padding-left: 3em;
	}
	
	.below
	{
		width: 92%;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 7%;
		justify-content: unset;		
	}

	.below img
	{
		height: 190px;
	}
	.last_a
	{
		height: 250px;
		width: 30%;
		margin-right: 10px;
		margin-bottom: 20px;
	}
	.last_ca, 
	.last_cb, .last_cc,.last_cd
	{
		height: 250px;
		width: 50%;
		margin-right: 10px;
	}
	.last_c
	{ 		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 65%;
		height: 250px;
	}
	footer
	{		
		margin-top: 6em;
		display: block;
		height: auto;
		width: 100%;
	}
	
	footer div
	{
		margin-right: 30px;
		padding-left: 25px;
		padding-bottom: 20px;
		width: unset;
	}
}

/*media query phone  768px ------------------------------------*/
@media screen and (max-width: 768px)
{
	header h1
	{
		word-spacing: -2px;
	}
	
/*--------------------------------------*/
	#filtre
	{
		flex-direction: row;
		flex-wrap: wrap;
		
	}
	.word
	{
		width: 100%;
		font-size: 1.3em;
	}

	.tres
	{		
		margin-right: 4em;
	}

	.titles
	{
		margin-bottom: 1em;	
	}
	#quantity
	{
		margin-top: 1em;
	}
	/*css lateral--------------*/
	
	.lateral_one i
	{
		margin-top: 2em;
	}

	/*css section--------------*/
	#hebergement
	{
		background:white;
	}
	section
	{
		width: 100%;
		border: 6px solid white;
		height: 200px;
		box-shadow:5px 5px 5px 5px #F2F2F2;
	}
	section img
	{
		width: 100%;
		height: 110px;
		margin-bottom: -25px;
	}
	#afficher
	{
		padding-left: 0px;
	}
	/* css below------------------*/
	#ancre2
	{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 1.4em;
		padding-left: 20px;
	}
	.below
	{
		width: 100%;
		padding-left: 10px;
	}
	.below img
	{
		height: 140px;
	}
	.last_a, .last_ca, 
	.last_cb, .last_cc,.last_cd
	{
		height: 200px;
		width: 100%;
	}
	.last_cb
	{
		margin-bottom: 20px;
	}

	.last_a , .last_c
	{ 
		width: 100%;
	}
	.last_c
	{
		flex-wrap: wrap;
		height: unset;
	}
	#all_page
	{
		margin-bottom: 50px;
	}
	footer
	{		
		margin-top: 56em;
	}
	footer div
	{
		
		padding-left: 25px;
		padding-bottom: 20px;
	}
}
/*media query point break 477px-----------------------*/

@media screen and (max-width:477px )
{	
	#quantity i
	{
		float: left;
	}
}


