#all_page
{
	width: 90%;
	margin: auto;
}

#logo img
{
	width: 100px;
	height: 40px;
}
header h1
{font-family: sans-serif;
	font-size: 1.3em;
}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right:40px;
}
nav a
{
	text-decoration: none;
}
nav a:hover
{
	 
	border-top: 3px blue solid;
}
header
{
	/*background: red;*/
	display: flex;
}
nav
{
	display: flex;
	flex-direction: row;
}